@import "./variables.scss";

@mixin box-shadow() {
  box-shadow: 0 10px 10px 0 #2c2c2c14;
  transition: 0.3s all;

  &:hover,
  &:focus,
  &:active {
    box-shadow: 0 1px 3px 0 rgb(44 44 44 / 12%);
  }
}

@mixin font-display() {
  font-family: monospace;
  font-size: 1rem;
}

@mixin device($size) {
  @if $size == large {
    @media (max-width: #{$large-device}) {
      @content;
    }
  } @else if $size == small {
    @media (max-width: #{$small-device}) {
      @content;
    }
  }
}
